<%- include('partials/header') -%>



<h3>Home</h3>

<p> <%= homeStartingContent %> </p>


<%  posts.forEach(function(post){ %>

    <h4><%=post.title%></h4>
    <p>
        <%=post.body.substring(0,100) + '....'%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>

<% }) %>




<%- include('partials/footer') -%>